
table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

table {
    margin-top: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    /*border: 1px solid;*/
}

label {
    display: inline-block;
    width: 105px;
}

input {
    outline: none;
}

.field-container {
    width: 100%;
    margin-bottom: 10px;
}

/*.center-field {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

input[type="submit"] {
    padding: 5px 25px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #008CBA;
    border-radius: 5%;
}

input[type="submit"]:hover {
    background-color: #008CBA;
    color: #fff;
}

.field-error {
    color: red;
}

footer {
    margin-top: 15px;
}
