<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <h1 th:text="#{formVehicle.titulo}"></h1>
        <a th:href="@{/vehicles}">[[#{formVehicle.accion.regresar}]]</a>
        <form th:action="@{/save}" method="post" th:object="${vehicle}">
            <input type="hidden" name="id" th:field="*{id}">
            <div class="field-container">
                <label for="name">[[#{formVehicle.form.label.nombre}]]:</label>
                <input type="text" name="name" th:field="*{name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="field-error"></span>
            </div>
            <div class="field-container">
                <label for="brand">[[#{formVehicle.form.label.marca}]]: </label>
                <input type="text" name="brand" th:field="*{brand}">
                <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="field-error"></span>
            </div>
            <div class="field-container">
                <label for="model">[[#{formVehicle.form.label.modelo}]]: </label>
                <input type="text" name="model" th:field="*{model}">
                <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="field-error"></span>
            </div>
            <div class="field-container">
                <label for="plate">[[#{formVehicle.form.label.placa}]]: </label>
                <input type="text" name="plate" th:field="*{plate}">
                <span th:if="${#fields.hasErrors('plate')}" th:errors="*{plate}" class="field-error"></span>
            </div>
            <div class="field-container">
                <label for="color">[[#{formVehicle.form.label.color}]]: </label>
                <input type="text" name="color" th:field="*{color}">
                <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}" class="field-error"></span>
            </div>
            <div th:if="${accion == 'Editar'}" class="field-container">
                <label for="indActive">[[#{formVehicle.form.label.estado}]]:</label>
                <select th:field="*{indActive}">
                    <option value="1">[[#{formVehicle.form.select.option.habilitado}]]</option>
                    <option value="0">[[#{formVehicle.form.select.option.deshabilitado}]]</option>
                </select>
            </div>
            <div class="field-container center-field">
                <input type="submit" name="save" th:value="#{formVehicle.accion.guardar}">
            </div>
        </form>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
