<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="#{index.titulo}"></h1>
        <a th:href="@{/vehicles}" th:text="#{index.accion.vehiculos}"></a>
        <footer>
            <div>
                <a th:href="@{/(lang = es)}">ES</a> | 
                <a th:href="@{/(lang = en)}">EN</a> | 
                <span>[[#{index.footer.derechos}]] <a href="https://www.yoversj.com">YoverSJ</a></span>
            </div>
        </footer>
    </body>
</html>
