<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Vehiculos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <h1 th:text="#{vehicles.titulo}"></h1>
        <a th:href="@{/}" th:text="#{vehicles.accion.inicio}"></a> |
        <a th:href="@{/vehicles/new}" th:text="#{vehicles.accion.agregar}"></a>
        <table>
            <tr>
                <th>[[#{vehicles.table.header.nombre}]]</th>
                <th>[[#{vehicles.table.header.marca}]]</th>
                <th>[[#{vehicles.table.header.modelo}]]</th>
                <th>[[#{vehicles.table.header.placa}]]</th>
                <th>[[#{vehicles.table.header.color}]]</th>
                <th>[[#{vehicles.table.header.estado}]]</th>
                <th>[[#{vehicles.table.header.editar}]]</th>
                <th>[[#{vehicles.table.header.eliminar}]]</th>
            </tr>
            <tr th:each="vehicle : ${vehicles}">
                <td th:text="${vehicle.name}"></td>
                <td th:text="${vehicle.brand}"></td>
                <td th:text="${vehicle.model}"></td>
                <td th:text="${vehicle.plate}"></td>
                <td th:text="${vehicle.color}"></td>
                <td>
                    <span th:if="${vehicle.indActive == 1}" th:text="Habilitado"></span>
                    <span th:unless="${vehicle.indActive == 1}" th:text="Deshabilitado"></span>
                </td>
                <td>
                    <a th:href="@{/vehicle/edit/} + ${vehicle.id}">[[#{vehicles.accion.editar}]]</a>
                </td>
                <td>
                    <a th:href="@{/vehicle/delete/} + ${vehicle.id}">[[#{vehicles.accion.eliminar}]]</a>
                </td>
            </tr>
        </table>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
